{% extends 'base.html' %} 
{% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/web3@1.2.11/dist/web3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <link href={{ url_for('static', filename="app/css/hosts.css") }} rel="stylesheet">
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row no-gutter">
                <div class="container">
                    <div class="align-items-center">
                        <div class="container">
                            {% if action %}
                                <h2 class="login-heading">Make An Offer</h2>
                            {% else %}
                                <h2 class="login-heading">Buy A Domain Name</h2>
                            {% endif %}
                            <form action="/dnCTRL" method="POST">
                                <div class="form-group">
                                    <label for="domainName">Domain Name</label>
                                    <input type="text" class="form-control" id="domainName" name="domainName" value="{{data[0]}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="ip">IP</label>
                                    <input type="text" class="form-control" id="ip" placeholder="IP" name="ip">
                                </div>
                                {% if action %}
                                    <div class="form-group">
                                        <label for="offer">Offer</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                              <div class="input-group-text">Wei</div>
                                            </div>
                                            <input type="number" class="form-control" id="offer" name="offer" placeholder="Amount">
                                        </div>
                                    </div>
                                    <input type="hidden" class="form-control" id="action" name="action" value="o">
                                {% else %}
                                    <div class="form-group">
                                        <label for="offer">Purchase</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                            <div class="input-group-text">Wei</div>
                                            </div>
                                            <input type="number" class="form-control" id="offer" name="offer" value="1" readonly>
                                        </div>
                                    </div>
                                    <input type="hidden" class="form-control" id="action" name="action" value="p">
                                {% endif %}
                                <button type="submit" class="btn btn-primary">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}