{% extends 'base.html' %} 
{% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/web3@1.2.11/dist/web3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <link href={{ url_for('static', filename="app/css/hosts.css") }} rel="stylesheet">
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row no-gutter">
                <div class="container">
                    <div class="align-items-center">
                        <div class="container">
                            {% if action %}
                                <h2 class="login-heading">Make An Offer</h2>
                            {% else %}
                                <h2 class="login-heading">Buy A Domain Name</h2>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}