{% extends 'base.html' %} 
{% block content %}
  <!-- Page Heading -->
  <h1 class="justify-content-center" style="text-align: center">
    Producto Nuevo
  </h1>
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
        <div class="px-2">
            <form action="/add-product" method="post" class="justify-content-center">
                <div class="form-group">
                    <label for="">Nombre del Producto:</label>
                    <input type="text" id="name" name="name" placeholder="Ej: Licencia OracleDB" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Precio:</label>
                    <input type="number" id="precio" name="precio" class="form-control" placeholder="Ej: 11">
                </div>
                <div class="form-group">
                    <label for="">descripcion:</label>
                    <input type="textarea" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion del producto">
                </div>
                <div class="form-group">
                    <label for="">cantidad</label>
                    <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="Ej: 5">
                </div>
                <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </form>
        </div>
    </div>
  {% endblock %}
